
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.easy-autocomplete
{
    display: inline-block;
    position:relative;
    margin:0;
    padding:0;
}

.easy-autocomplete-container
{
    position:absolute;
    background: #fff;
    width: 100%;
    
    ul
    {
        list-style-type: none;
        padding:1ex;
        margin:0;
        display:none;

        li:hover{
            background-color: $input-border-focus;
        }
        
        :hover
        {
            cursor: pointer;
        }
    }
}
